alembic==1.14.0
APScheduler==3.11.0
babel==2.16.0
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
courlan==1.3.2
dateparser==1.2.0
dnspython==2.7.0
email_validator==2.2.0
feedparser==6.0.11
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.1.1
htmldate==1.9.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jusText==3.0.1
lxml==5.3.0
lxml_html_clean==0.4.1
Mako==1.3.8
MarkupSafe==3.0.2
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
sgmllib3k==1.0.0
six==1.17.0
SQLAlchemy==2.0.36
tld==0.13
trafilatura==2.0.0
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
Werkzeug==3.1.3
WTForms==3.2.1
apscheduler
email-validator
feedparser
flask
flask-login
flask-migrate
flask-sqlalchemy
flask-wtf
psycopg2-binary
sqlalchemy
trafilatura
werkzeug
gunicorn
openai
flask-login
flask-wtf
twilio
trafilatura
flask-login
oauthlib
slack_sdk
openai
gunicorn
gunicorn
